@import 'govuk-frontend';

.govuk-task-list {
  font-family: GDS Transport,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none
}

@media print {
  .govuk-task-list {
    font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-task-list {
    font-size:1.1875rem;
    line-height: 1.3157894737
  }
}

@media print {
  .govuk-task-list {
    font-size: 14pt;
    line-height: 1.15
  }
}

@media (min-width: 40.0625em) {
  .govuk-task-list {
    margin-bottom:30px
  }
}

.govuk-task-list__item {
  display: table;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b1b4b6
}

.govuk-task-list__item:first-child {
  border-top: 1px solid #b1b4b6
}

.govuk-task-list__item--with-link:hover {
  background: #f3f2f1
}

.govuk-task-list__name-and-hint {
  display: table-cell;
  vertical-align: top;
  color: #0b0c0c
}

@media print {
  .govuk-task-list__name-and-hint {
    color: #000
  }
}

.govuk-task-list__status {
  display: table-cell;
  padding-left: 10px;
  text-align: right;
  vertical-align: top;
  color: #0b0c0c
}

@media print {
  .govuk-task-list__status {
    color: #000
  }
}

.govuk-task-list__status--cannot-start-yet {
  color: #505a5f
}

.govuk-task-list__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.govuk-task-list__hint {
  margin-top: 5px;
  color: #505a5f
}
